section.hero
  h3 contact us.
  
  h2 Connote is currently accepting new projects. Send an email with some details about your project to 
    a.email(href='mailto:hello@connote.llc') hello&#64;connote.llc 
    | to get started.

p.footer © 2021 Connote LLC. All rights reserved. 
