head
	title Connote Presentation Design &amp; Consulting
	link(rel='stylesheet', href='/stylesheets/styles.css')
	meta(charset='utf-8')
	meta(name='description', content='Connote offers design, copywriting, and consulting for sales presentations, slide decks, and branded Keynote or PowerPoint themes.')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='author', content='Connor Mason')
	link(rel='apple-touch-icon', href='')
	link(rel='icon', href='')
	link(rel='shortcut icon', href='')
	meta(property='og:title', content='Connote Presentation Consulting')
	meta(property='og:url', content='https://connote.design')
	meta(property='og:image', content='')
	meta(property='og:site_name', content='Connote')
	meta(property='og:description', content='Connote offers design, copywriting, and consulting for sales presentations, slide decks, and branded Keynote or PowerPoint themes.')
	meta(name='twitter:card', content='summary')
	meta(name='twitter:site', content='@conmas')
	meta(name='twitter:domain', content='connote.design')
	meta(name='twitter:title', content='Connote | Presentation Consulting')
	meta(name='twitter:description', content='Connote offers design, copywriting, and consulting for sales presentations, slide decks, and branded Keynote or PowerPoint themes.')
	meta(name='twitter:image', content='')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
	script(src='/javascripts/script.js')
	script(src='https://www.google.com/recaptcha/api.js' async defer)