mixin navlogo
	a.logo(href='/') connote
		span.dot .

mixin nav(activePage)
	nav
		if activePage == 'index'
			a(href='/work') work
			a(href='/contact') contact
		else if activePage == 'work'
			+navlogo
			a.active(href='/work') work
			a(href='/contact') contact
		else if activePage == 'contact'
			+navlogo
			a(href='/work') work
			a.active(href='/contact') contact
		else
			+navlogo
			a(href='/work') work
			a(href='/contact') contact

mixin box(svg,line1,line2,description)
	.box
		img.icon(src=svg)
		h4=line1
			br
			span=line2
		p=description
