mixin nav(activePage)
	nav
		if activePage == 'index'
			a(href='/work') work
			a(href='/team') team
			a(href='/contact') contact
		else if activePage == 'work'
			a.logo(href='/') connote.
			a.active(href='/work') work
			a(href='/team') team
			a(href='/contact') contact		
		else if activePage == 'team'
			a.logo(href='/') connote.
			a(href='/work') work
			a.active(href='/team') team
			a(href='/contact') contact
		else if activePage == 'contact'
			a.logo(href='/') connote.
			a(href='/work') work
			a(href='/team') team
			a.active(href='/contact') contact
		else
			a.logo(href='/') connote.
			a(href='/work') work
			a(href='/team') team
			a(href='/contact') contact