<form id="contact-form" action="./scripts/email-send.py" method="POST" autocomplete="off">

				<div class="name-fields">
					<fieldset class="left">
						<input id="first" type="text" required />
						<label for="first">First</label>
						<div class="underline"></div>
					</fieldset>

					<fieldset class="right">
						<input id="last" type="text" required />
						<label for="last">Last</label>
						<div class="underline"></div>
					</fieldset>
				</div>

					<fieldset>
						<input id="email" type="email" required />
						<label for="email">Email</label>
						<div class="underline"></div>
					</fieldset>

					<fieldset>
						<input id="message" required></input>
						<label for="message">How can we help?</label>
						<div class="underline"></div>
					</fieldset>

					<button id="submit"><label for="submit" class="submit">Submit</label></button>

					<!--<button class="g-recaptcha" data-sitekey="6LeZJW4UAAAAAHYmj6yR3jxQiTTz5dzmEtwU5cqC" data-callback='onSubmit'>Submit</button>


placeholder="sjobs@apple.com"
placeholder="Let&#8217;s work together."-->

</form>