extends layout

block content
	section
		h1 Connote.
		h2.hero Give a presentation that demands to be heard. Connote offers design, copywriting, and consulting for sales presentations, slide decks, and branded Keynote or PowerPoint themes.
		h2.tagline No matter the medium, no matter the message, we make sure you make your point.
	section
		h2.our-services Our services.
		p Connote offers a range of services designed to help your presentation shine.
		.service-blocks
			.service
				h3 Presentation &amp; Slide Deck Design
				p Your next big idea isn't based on a template, so your presentation shouldn't be either. Connote designs and lays out slide decks for sales pitches, conferences, or even internal presentations so you can stand out from the crowd.
			.service
				h3 Presentation Consulting
				p Give a presentation that demands to be heard. Beyond just the layout of your slides, Connote offers copywriting and consulting on the content, argumentation, and overall flow of your big sales pitch to ensure you make your point.
			.service
				h3 Résumé &amp; CV Design
				p Recruiter spend less than 10 seconds on each résumé—yours deserves to be memorable. Connote designs and offers copy consulting on résumés and curricula vitae for individuals and recent graduates looking to make a splash.
	section
		h2.contact-title Contact us.
		form(action='/', method='POST', autocomplete='off')
			fieldset.left
				input.text(type='text', name='first', required)
				label(for='first') First
				.underline
			fieldset.right
				input.text(type='text', name='last', required)
				label(for='last') Last
				.underline
			fieldset
				input.text(type='email', name='email', required)
				label(for='email') Email
				.underline
			fieldset
				input.text(name='message', required)
				label(for='message') How can we help?
				.underline
			fieldset
				input.submit(type='button', value='Submit')
