extends layout

block content
	+nav('index')
	section
		h1 connote.
		h2 Give a presentation that demands to be heard. Connote offers design, copywriting, and consulting for sales presentations, slide decks, and branded Keynote or PowerPoint themes.
		h2 No matter the medium, no matter the message, we make sure you make your point.
	section
		h2.section-header our services.
		h2 Connote offers a range of services designed to help your presentation shine.
		.box-container
			.box
				h3 Presentation &amp;<br>Slide Deck Design
				p Your next big idea isn&#8217;t based on a template, so your presentation shouldn't be either. Connote designs and lays out slide decks for sales pitches, conferences, or even internal presentations so you can stand out from the crowd.
			.box
				h3 Presentation<br>Consulting
				p Give a presentation that demands to be heard. Beyond just the layout of your slides, Connote offers copywriting and consulting on the content, argument, and overall flow of your big sales pitch to ensure you make your point.
			.box
				h3 Résumé &amp;<br>CV Design
				p Recruiters spend less than 10 seconds on each résumé. Yours deserves to be memorable. Connote provides design and content consulting on résumés and curricula vitae for individuals and recent graduates looking to make a splash.
	section
		h2.section-header contact us.
		include includes/form
