extends layout

block content
	+nav('team')
	section
		h1 team.
		h2 Connote is made up of presentation experts who are passionate about getting your message out.
		.box-container
			.box
				img(src='https://cnnr.land/images/headshot.jpeg')
				h3 Connor Mason#[span , Founder]
				p Product leader and strategist living in Chicago. He&#8217;s passionate about human-centric product design, accessible software, and digital privacy. He likes coffee, Marvel movies, and talking with his hands. Connor leads presentation design, copywriting, and sales pitch consulting at Connote.
				a(href='https://cnnr.land' target='_blank') website &rsaquo;     
				a(href='https://www.twitter.com/conmas' target='_blank') twitter &rsaquo;
			.box
				img(src='http://billycollins.me/billy-profile-image.jpg')
				h3 Billy Collins#[span , Founder]
				p Product leader and strategist living in Chicago. He&#8217;s passionate about human-centric product design, accessible software, and digital privacy. He likes coffee, Marvel movies, and talking with his hands. Connor leads Connote&#8217;s presentation design, copywriting, and sales pitch consulting work.
				a(href='http://billycollins.me' target='_blank') website &rsaquo;
				a(href='https://www.twitter.com/billywcollins' target='_blank') twitter &rsaquo;