extends layout

block content
	+nav('team')
	section
		h1 team.
		h2 Connote is made up of presentation experts who are passionate about getting your message out.
	section.bios
		.bio
			img()
			h3 Connor Mason
			h4 Founder
			p Lorem ipsum dolor ipset.
		.bio
			img()
			h3 Billy Collins
			h4 Founder
			p Lorem ipsum dolor ipset.