extends layout

block content
  +nav('work')
  section.hero
    h1 work.
    h2 We pride ourselves on the great work we&#8217;ve done with our partners. Reach out on our contact page if you&#8217;d like&nbsp;to&nbsp;see some examples of the projects we&#8217;ve tackled.
    h2 This page is coming soon. You can help expand it by hiring us for your next project.
