@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Work+Sans");
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #17171d;
  font-family: -apple-system, BlinkMacSystemFont, "Work Sans", sans-serif;
  color: white;
  line-height: 1.2em;
}
@media (min-width: 1200px) {
  body {
    padding: 3em 5em 3em 5em;
    font-size: 1.25em;
  }
}
@media (max-width: 1199px) {
  body {
    padding: 2em 4em 2em 4em;
    font-size: 1em;
  }
}
@media (max-width: 999px) {
  body {
    padding: 3em;
    font-size: 0.75em;
  }
}
@media (max-width: 600px) {
  body {
    padding: 2em;
  }
}

nav {
  display: block;
  width: 100%;
  background-color: #17171d;
  text-align: right;
}
nav a {
  padding-left: 1em;
}
nav a.logo {
  font-family: "Abril Fatface", serif;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: white;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav a.logo:hover, nav a.logo:focus {
  color: #63636E;
}
nav a.logo:active {
  color: #121217;
}

a {
  font-size: 1em;
  text-decoration: none;
  color: #00c490;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover, a:focus {
  color: #007858;
}
a:active {
  color: #002b20;
}
a ~ .active {
  font-weight: 700;
}

section {
  padding: 3em 0em 3em 0em;
}
section h1 {
  font-family: "Abril Fatface", serif;
  font-size: 3.5em;
  line-height: 2em;
  letter-spacing: -0.04em;
}
section h1 span.dot {
  color: #00c490;
}
@media (max-width: 999px) {
  section h1 {
    font-size: 2em;
    line-height: 1em;
  }
}
@media (max-width: 600px) {
  section h1 {
    font-size: 1.75em;
  }
}
section h2 {
  color: #63636E;
  font-weight: 500;
  font-size: 2em;
  line-height: 1.2em;
  max-width: 90%;
}
@media (max-width: 999px) {
  section h2 {
    font-size: 1.75em;
    line-height: 1.2em;
  }
}
@media (max-width: 800px) {
  section h2 {
    font-size: 1.5em;
    line-height: 1.2em;
  }
}
section h2.section-header {
  font-family: "Abril Fatface", serif;
  letter-spacing: -0.04em;
  color: white;
}
section p {
  color: #63636E;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin: 2em 0em 0em 0em;
  flex-direction: row wrap;
}
@media (max-width: 800px) {
  .box-container {
    flex-direction: column;
  }
}

.box {
  padding: 1em 1em 1em 1em;
  margin: 0em 1em 0em 0em;
  background-color: #121217;
}
@media (max-width: 800px) {
  .box {
    margin: 0em 0em 1em 0em;
  }
}
.box h3 {
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.25em;
}
.box h3 span {
  font-weight: 300;
}
.box p {
  color: #63636E;
  font-size: 1em;
  line-height: 1.25em;
}
.box a {
  padding-right: 1em;
}
.box img {
  width: 35%;
  border-radius: 50%;
}
.box object {
  stroke: #00c490;
  border-radius: none;
  width: 25%;
}

form fieldset.left {
  width: 47.5% !important;
  float: left !important;
  padding-left: 0px;
  padding-right: 0px;
}
@media (max-width: 600px) {
  form fieldset.left {
    width: 100%;
    float: none;
  }
}
form fieldset.right {
  width: 47.5% !important;
  float: right !important;
  padding-left: 0px;
  padding-right: 0px;
}
@media (max-width: 600px) {
  form fieldset.right {
    width: 100%;
    float: none;
  }
}
form fieldset {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  width: 100%;
}
form fieldset label {
  position: absolute;
  top: 0.85em;
  font-size: 1.65em;
  color: #63636E;
  transform-origin: left;
  transition: all 0.4s ease;
}
form fieldset input.text {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0;
  outline: none;
  height: 2em;
  width: 100%;
  font-size: 1.65em;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
}
form fieldset input.text:focus ~ label {
  color: #00c490;
  top: 0;
  transform: scale(0.6, 0.6);
}
form fieldset input.text:focus ~ .underline {
  background-position: 0 0;
}
form fieldset input.text:valid ~ label {
  color: #00c490;
  top: 0;
  transform: scale(0.6, 0.6);
}
form fieldset input.text[type=email]:not(:empty) ~ label {
  color: red;
  top: 0;
  transform: scale(0.6, 0.6);
}
form fieldset input.submit {
  position: relative;
  font-size: 1.5em;
  width: 100%;
  height: 2em;
  border-radius: 0.5em;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
}
form fieldset input.submit:disabled, form fieldset input.submit:disabled:hover, form fieldset input.submit:disabled:active {
  background-color: transparent;
  border: 2px;
  border-color: #00c490;
}
form fieldset input.submit:enabled {
  background-color: #00c490;
  border: none;
  color: black;
}
form fieldset input.submit:hover, form fieldset input.submit:focus {
  background-color: #007858;
  color: white;
}
form fieldset input.submit:active {
  background-color: #002b20;
  color: white;
}
form fieldset .underline {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #00c490 50%, transparent 50%);
  background-color: #63636E;
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: all 0.4s ease;
}
form button {
  position: relative;
  font-size: 1.5em;
  width: 100%;
  height: 2em;
  border-radius: 0.5em;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
}
form button:disabled, form button:disabled:hover, form button:disabled:active {
  background-color: transparent;
  border: 2px;
  border-color: #00c490;
}
form button:enabled {
  background-color: #00c490;
  border: none;
  color: black;
}
form button:hover, form button:focus {
  background-color: #007858;
  color: white;
}
form button:active {
  background-color: #002b20;
  color: white;
}

.footer {
  font-size: 0.75em;
  color: #63636E;
}

/*# sourceMappingURL=styles.css.map */
