@import url("https://fonts.googleapis.com/css?family=Work+Sans");
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #17171d;
  font-family: -apple-system, BlinkMacSystemFont, "Work Sans", sans-serif;
  color: white;
  line-height: 1.2em; }
  @media (min-width: 1200px) {
    body {
      padding: 3em 5em 3em 5em;
      font-size: 1.5em; } }
  @media (max-width: 1199px) {
    body {
      padding: 2em 4em 2em 4em;
      font-size: 1.25em; } }
  @media (max-width: 999px) {
    body {
      padding: 3em;
      font-size: 1em; } }
  @media (max-width: 600px) {
    body {
      padding: 2em;
      font-size: 0.75em; } }

h1 {
  font-weight: 700;
  font-size: 2.7em; }
  @media (max-width: 999px) {
    h1 {
      font-size: 2em; } }
  @media (max-width: 600px) {
    h1 {
      font-size: 1.75em; } }

h2 {
  color: #63636E;
  font-weight: 500;
  font-size: 2em;
  line-height: 1.2em; }
  @media (max-width: 999px) {
    h2 {
      font-size: 1.75em;
      line-height: 1.2em; } }
  @media (max-width: 800px) {
    h2 {
      font-size: 1.5em;
      line-height: 1.2em; } }

section {
  padding: 3em 0em 3em 0em; }

div.service-blocks {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding: 1em 0em 1em 0em; }
  @media (min-width: 1200px) {
    div.service-blocks {
      flex-direction: row wrap; } }
  @media (max-width: 800px) {
    div.service-blocks {
      flex-direction: column; } }

div.service {
  background-color: #121217;
  margin: 0em 1em 0em 0em;
  padding: 0em 1em 0em 1em;
  font-size: 1em;
  line-height: 1.2em; }
  div.service h3 {
    font-weight: 700; }
  div.service p {
    color: #63636E; }
  @media (max-width: 800px) {
    div.service {
      margin: 0em 0em 1em 0em;
      padding: 0em 1em 0em 1em; } }

fieldset.left {
  width: 43% !important;
  float: left !important; }
  @media (max-width: 600px) {
    fieldset.left {
      width: 100%;
      float: none; } }

fieldset.right {
  width: 43% !important;
  float: right !important; }
  @media (max-width: 600px) {
    fieldset.right {
      width: 100%;
      float: none; } }

fieldset {
  position: relative;
  border: none;
  width: 100%; }
  fieldset label {
    position: absolute;
    top: .85em;
    font-size: 1.65em;
    color: #63636E;
    transform-origin: left;
    transition: all 0.4s ease; }
  fieldset input {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0;
    outline: none;
    height: 2em;
    width: 100%;
    font-size: 1.65em; }
    fieldset input:focus ~ label {
      color: #00c490;
      top: 0;
      transform: scale(0.6, 0.6); }
    fieldset input:focus ~ .underline {
      background-position: 0 0; }
    fieldset input:valid ~ label {
      color: #00c490;
      top: 0;
      transform: scale(0.6, 0.6); }
    fieldset input[type="email"]:not(:empty) ~ label {
      color: red;
      top: 0;
      transform: scale(0.6, 0.6); }
  fieldset .underline {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #00c490 50%, transparent 50%);
    background-color: #63636E;
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: all 0.4s ease; }

button {
  position: relative;
  font-size: 1.5em;
  padding: 0em 1em 0em 1em;
  width: 100%;
  height: 2em;
  display: block;
  border-radius: .5em;
  transition: all 0.4s ease; }
  button label.button {
    position: absolute;
    top: -1em; }
  button:disabled, button:disabled:hover, button:disabled:active {
    background-color: transparent;
    border: 2px;
    border-color: #00c490; }
  button:enabled {
    background-color: #00c490;
    border: none; }
    button:enabled label.button {
      color: black; }
  button:hover, button:focus {
    background-color: #00694d;
    color: white; }
  button:active {
    background-color: #003d2d;
    color: white; }
