@charset "UTF-8";

/* Widescreen Desktop */
@media only screen and (min-width: 1200px) {

	body {
		padding: 3em 5em 3em 5em;
		font-size: 1.5em;
  }

	h1 {
		font-size: 2.7em;
	}

	h2, p.hero {
		font-size: 2em;
		line-height: 1.2em;
  }

	h3.service, p.service {
		font-size: 1em;
	}

	div.service-blocks {
		flex-direction: row wrap;
	}

	div.service {
		margin: 0em 1em 0em 0em;
		padding: 0em 1em 0em 1em;
		width: 25%;
	}

}

/* Desktop */
@media only screen and (max-width: 1199px) {

	body {
		padding: 2em 4em 2em 4em;
		font-size: 1.25em;
  }

	div.service-blocks {
		flex-direction: row wrap;
	}

	h1 {
		font-size: 2.7em;
  }

  h2, p.hero {
		font-size: 2em;
		line-height: 1.2em;
  }

	h3.service, p.service {
		font-size: 1em;
	}

}

/* iPad Pro */
@media only screen and (max-width: 999px) {

	body {
		padding: 3em;
		font-size: 1em;
	}

	div.service-blocks {
		flex-direction: row wrap;
	}

	h1 {
		font-size: 2em;
	}

	h2, p.hero {
		font-size: 1.75em;
		line-height: 1.2em;
	}

	h3.service, p.service {
		font-size: 1em;
	}

}

/* iPad */
@media only screen and (max-width: 800px) {

	body {
		padding: 3em;
		font-size: 1em;
	}

	div.service-blocks {
		flex-direction: column;
	}

	h1 {
		font-size: 2em;
	}

	h2, p.hero {
		font-size: 1.5em;
		line-height: 1.2em;
	}

	h3.service, p.service {
		font-size: 1em;
	}

}

/* iPhone */
@media only screen and (max-width: 600px) {

	body {
		padding: 1.5em;
		font-size: .75em;
	}

	div.service-blocks {
		flex-direction: column;
	}

	h1 {
		font-size: 1.75em;
	}

	h2, p.hero {
		font-size: 1.5em;
		line-height: 1.2em;
	}

	h3.service, p.service {
		font-size: 1em;
	}

}

/* * * * * * * * * * END MEDIA QUERIES * * * * * * * * * */

html, body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
	background-color: #17171d;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	line-height: 1.2em;
}

h1 {
	font-weight: 700;
	color: white;
}

p.hero {
	color: #63636E;
	font-weight: 500;
}

div.service-blocks {
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

div.service {
	background-color: #121217;
}

h3.service {
	color: white;
	font-weight: 700;
}

p.service {
	color: #63636E;
}
