@import "mixins";
@import "colors";

@import url('https://fonts.googleapis.com/css?family=Work+Sans');
$font-stack: -apple-system, BlinkMacSystemFont, 'Work Sans', sans-serif;
$transition-speed: all 0.4s ease;

body {
  	-ms-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;
	background-color: $background;
	font-family: $font-stack;
	color: $maintext;
	line-height: 1.2em;
	@include breakpoint(imac) {
		padding: 3em 5em 3em 5em;
		font-size: 1.5em;
	}
	@include breakpoint(macbook) {
		padding: 2em 4em 2em 4em;
		font-size: 1.25em; 
	}
	@include breakpoint(ipadpro) {
		padding: 3em; 
		font-size: 1em;
	}
	@include breakpoint(iphone) {
		padding: 2em;
	}
}

nav {
	display: block;
	width: 100%;
	background-color: $background;
	text-align: right;
	a {
		transition: $transition-speed;
		font-size: 1em;
		color: $accentcolor;
		text-decoration: none;
		padding-left: 1em;
		@include link-state(std-hover);
		@include link-state(std-active);
	}
	a.logo {
		transition: $transition-speed;
		font-size: 1em;
		font-weight: 700;
		color: white;
		text-decoration: none;
		@include link-state(logo-hover);
		@include link-state(logo-active);
	}
}

h1 {
	font-weight: 700;
	font-size: 2.7em;
	@include breakpoint(ipadpro) {
		font-size: 2em;
	}
	@include breakpoint(iphone) {
		font-size: 1.75em;
	}
}

h2 {
	color: $lightgray;
	font-weight: 500;
	font-size: 2em;
	line-height: 1.2em;
	@include breakpoint(ipadpro) {
		font-size: 1.75em;
		line-height: 1.2em;
	}
	@include breakpoint(ipad) {
		font-size: 1.5em;
		line-height: 1.2em;
	}
}

.section-header {
	color: white;
}

section {
	padding: 3em 0em 3em 0em;
	p {
		color: $lightgray;
	}
}

.service-blocks {
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	padding: 1em 0em 1em 0em;
	@include breakpoint(imac) {
		flex-direction: row wrap;
	}
	@include breakpoint(ipad) {
		flex-direction: column;
	}
}

.service {
	background-color: $darkgray;
	margin: 0em 1em 0em 0em;
	padding: 0em 1em 0em 1em;
	h3 {
		font-weight: 700;
		font-size: 1.125em;
		line-height: 1.5em;
	}
	p {
		color: $lightgray;
		font-size: 1em;
		line-height: 1.25em;
	}
	@include breakpoint(ipad) {
		margin: 0em 0em 1em 0em;
		padding: 0em 1em 0em 1em;
	}
}

form {
	fieldset.left {
	  	@include field-location(left);
	}

	fieldset.right {
	  	@include field-location(right);
	}

	fieldset {
	 	position: relative;
	 	padding-left: 0px;
	 	padding-right: 0px;
	 	border: none;
		width: 100%;

		label {
			position: absolute;
			top: .85em;
			font-size: 1.65em;
			color: $lightgray;
			transform-origin: left;
			transition: $transition-speed;
		}

		input.text {
			background-color: transparent;
			color: $maintext;
			border: none;
			border-radius: 0;
			outline: none;
			height: 2em;
			width: 100%;
			font-size: 1.65em;
			@include field-state(focus);
			@include field-state(valid);
			@include field-state(invalid);
		}

		input.submit {
			position: relative;
			font-size: 1.5em;
			width: 100%;
			height: 2em;
			border-radius: .5em;
			transition: $transition-speed;
		  	@include button-state(disabled);
		  	@include button-state(enabled);
		  	@include button-state(hover);
		  	@include button-state(active);
		}
		
		.underline {
			width: 100%;
			height: 2px;
			background: linear-gradient(to right, $accentcolor 50%, transparent 50%);
			background-color: $lightgray;
			background-size: 200% 100%;
			background-position: 100% 0;
			transition: $transition-speed;
		}
	}
}
