<!DOCTYPE html>
<html lang="en-US">

<head>
	<% include ../partials/header.ejs %>
</head>

<body>
	<section class="hero">
		<div>
			<h1>Connote.</h1>
			<h2 class="hero">Give a presentation that demands to be heard. Connote offers design, copywriting, and consulting for sales presentations, slide decks, and branded Keynote or PowerPoint themes.</h2>
			<h2 class="tagline">No matter the medium, no matter the message, we make sure you make your point.</h2>
		</div>
	</section>
	<section class="service-blocks">
		<div class="services-intro">
			<h2 class="our-services">Our services.</h2>
			<p>Connote offers a range of services designed to help your presentation shine.</p>
		</div>
		<div class="service-blocks">
			<div class="service">
				<h3 class="service">Presentation &amp; Slide&nbsp;Deck Design</h3>
				<p class="service">Your next big idea isn't based on a template, so your presentation shouldn't be either. Connote designs and lays out slide decks for sales&nbsp;pitches, conferences, or even internal presentations so you can stand out from the crowd.</p>
			</div>
			<div class="service">
				<h3 class="service">Presentation Consulting</h3>
				<p class="service">Give a presentation that demands to be heard. Beyond just the layout of your slides, Connote offers copywriting and consulting on the content, argumentation, and overall flow of your big sales pitch to ensure you make your point.</p>
			</div>
			<div class="service">
				<h3 class="service">R&eacute;sum&eacute; &amp; CV Design</h3>
				<p class="service">Recruiter spend less than 10 seconds on each r&eacute;sum&eacute;—yours deserves to be memorable. Connote designs and offers copy consulting on r&eacute;sum&eacute;s and curricula vitae for individuals and recent graduates looking to make a splash.</p>
			</div>
		</div>
	</section>
	<% include ../partials/form.ejs %>
</body>

<footer></footer>

</html>
